.navbar {
  background-color: #333;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-column {
  float: left;
  width: calc(33.33% - 20px);
  margin-right: 20px;
}

.dropdown-column:last-child {
  margin-right: 0;
}

.dropdown-column h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.dropdown-menu a {
  display: block;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f9f9f9;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
//neeche wala css image aur text ko side by side karne ke liye hai
.container {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
}

.container p {
  margin-right: 20px; /* Add space between text and image */
}

.container img {
  max-width: 50%; /* Ensure the image doesn't exceed container width */
}
